.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.owncolor {
    background: #375ce4;
}
.clcolor {
    background: #ffffff;
}
.input-field {
    margin-top: 30px;
}
.backpaging {
    border-radius: 10px;
}
ul.ownpaging {
    padding: 5px;
}
ul.ownpaging li{
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}
ul.ownpaging li a {
    color: #fff;
}
ul.ownpaging li a:hover {
    color: #c0c0c0;
}
ul.ownpaging li.disabledd a {
    color: #373737;
    pointer-events: none;
}
ul.ownpaging li.active {
    background: #3713ff;
    font-weight: bold;
}
ul.ownpaging li.active a {
    color: #fff;
}


/* Snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


/* TABS */
.tabt {
  overflow: auto !important;
  border-bottom: 1px solid #ccc;
  white-space: nowrap !important;
}

/* Style the buttons inside the tab */
.tabt button {
  overflow: auto !important;
  white-space: nowrap !important;
  display: inline-block !important;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabt button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabt button.active {
  background-color: #eef;
}


/* TREEVIEW */
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}


/*  CARD TEMPLATE */
.card_container, .card_tenant_container {
  position: relative;
}

.card_container #imgcard, .card_tenant_container #imgcard {
  border-radius: 10px;
}

.card_sky {
  top: 12%;
  margin-left: 15%;
  position: absolute;
  z-index: 2;
}

.card_sky_tenant {
  top: 12%;
  margin-left: 15%;
  position: absolute;
  z-index: 2;
}

.card_company {
  top: 12%;
  right: 18px;
  position: absolute;
  z-index: 2;
}

.card_company_tenant {
  top: 12%;
  right: 5%;
  position: absolute;
  z-index: 2;
}

.card_identity {
  bottom: 10%;
  margin-left: 15%;
  position: absolute;
  z-index: 2;
}

.card_identity_tenant {
  bottom: 10%;
  margin-left: 15%;
  position: absolute;
  z-index: 2;
}

.card_logo {
  right: 18px;
  bottom: 12%;
  position: absolute;
  z-index: 2;
  display: inline;
}


.card_logo_tenant {
  right: 5%;
  bottom: 12%;
  position: absolute;
  z-index: 2;
}


/* QUANTITY NUMBER INCREASE AND DECREASE ON SHOPPING */
input.qtyplus { 
  width:25px; 
  height:25px;
  margin-left: 15px;
}
input.qtyminus { 
  width:25px; 
  height:25px;
  margin-right: 15px;
}
.cbshop {
  width:25px !important; 
  height:25px !important;
  margin-left: 5px;
  margin-right: 5px;
}