.grid-view-loading
{
    background:url("loading.gif") no-repeat;
}

.grid-view
{
    padding: 15px 0;
}

.grid-view table.items
{
    background: #fff;
    border: solid 1px #ccc;
    border-collapse: collapse;
    width: 100%;
}

.grid-view table.items th, .grid-view table.items td
{
    border: 1px #ccc solid;
    font-size: 12px;
    padding: 5px 10px;
}

.grid-view table.items th
{
    color: #333;
    font-size: 13px;
    background: #eee;
}

.grid-view table.items th a
{
    color: #777;
    font-weight: bold;
    text-decoration: none;
}

.grid-view table.items th a:hover
{
    color: #333;
}

.grid-view table.items th a.asc
{
    background:url("up.gif") right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items th a.desc
{
    background:url("down.gif") right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items tr.even td
{
    background: #fefefe;
}

.grid-view table.items tr.odd td
{
    background: #fefefe;
}

.grid-view table.items tr.selected td
{
    background: #eeeeee;
}

.grid-view table.items tr:hover td
{
    background: #f7f7f7;
}

.grid-view .link-column img
{
    border: 0;
}

.grid-view .button-column
{
    text-align: center;
    width: 75px;
}

.grid-view .button-column a
{
    display: inline-block;
    vertical-align: middle;
}

.grid-view .button-column img
{
    border: 0;
}

.grid-view .checkbox-column
{
    width: 15px;
}

.grid-view .summary
{
    margin: 0 0 5px 0;
    text-align: right;
}

.grid-view .pager
{
    margin: 5px 0 0 0;
    text-align: right;
}

.grid-view .empty
{
    font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
    width: 100%;
    border: 1px solid #ccc;
}

.grid-view .filters {
    background: #f7f7f7;
}

/*
.grid-view table.items tr th, .grid-view table.items tr td {
    border-bottom: 0;
    border-right: 0;
}

.grid-view table.items tr th:last-child, .grid-view table.items tr td:last-child {
    border-right: solid 1px #ccc;
}

.grid-view table.items tbody tr:last-child th, .grid-view table.items tbody tr:last-child td {
    border-bottom: solid 1px #ccc;
}

.grid-view table.items, .grid-view table.items thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}

.grid-view table.items, .grid-view table.items thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

.grid-view table.items, .grid-view table.items tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.grid-view table.items, .grid-view table.items tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}
*/

.grid-view table.items tfoot td
{
    background: #eee;
}