.owncolor {
    background: #375ce4;
}
.clcolor {
    background: #ffffff;
}
.input-field {
    margin-top: 30px;
}
.backpaging {
    border-radius: 10px;
}
ul.ownpaging {
    padding: 5px;
}
ul.ownpaging li{
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}
ul.ownpaging li a {
    color: #fff;
}
ul.ownpaging li a:hover {
    color: #c0c0c0;
}
ul.ownpaging li.disabledd a {
    color: #373737;
    pointer-events: none;
}
ul.ownpaging li.active {
    background: #3713ff;
    font-weight: bold;
}
ul.ownpaging li.active a {
    color: #fff;
}