.content-wrapper {
    background: #0A3177;
    background-image: url('BG-13.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
}
.header-merchant {
    border: 0px solid #fff;
    font-size: 25px;
    font-weight: bold;
}
.trc {
    margin-top: 50px;
    margin-right: 20px;
    font-size: 30px;
}
.calculated {
    width: 95%;
    padding: 0px;
    background: transparent;
    border: none;
    text-align: center;
}
.inbtn {
     width: 100%;
     height: 100%;
     padding: 3px;
     font-size: 18px;
     font-weight: bold;
     display: inline-block;
     background: transparent;
     border: none;
     word-wrap: break-word;
}
.inhpsNilai {
    width: 60px;
    height: 40px;
    display: inline-block;
    background: transparent;
    border: none;
}
.btnSetting{
    font-size: 25px;
    background: transparent;
    text-transform: uppercase;
}
.btnRowSave {
    margin-top: 30px;
    text-align: center;
    border: none;
}
.inNumb {
    width: 100%;
    height: 100%;
    color: #000;
}
.colSwitch {
    word-wrap: break-word;
}
.table {
    margin-top: 30px;

}
.table td {
    width: 33%;
    text-align: center;
}
.foot {
    color: #777;
    text-align: center;
    bottom: 0;
}
.btn-nav-lr a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.btn-nav-lr a:hover {
    color: #1B4288;
}
.btn-nav-lr a:active {
    color: transparent;
}
.btn-nav-lr #editright {
    right: 0;
    margin-right: 10px;
    position: absolute;
}
.btn-nav-lr #backleft {
    left: 0;
    margin-left: 10px;
    position: absolute;
}
#table_listnumb {
    margin-top: 50px;
}
.unselected_text {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.numbItem {
    font-size: 25px;
}
#tableNumber {
    font-size: 25px;
    text-align: center;
}
#btnSaveNumb {
    width: 100%;
}
#gsNumb {
    color: #fff;
    border: none;
    text-align: center;
    background: transparent;
}