.content-wrapper {
    background-image: url('BG-13.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
} 
.tc {
    margin-top: 30px;
	margin-right: 15px;
	border-collapse: collapse;
}
.inbtn {
    display: inline-blink;
    width: 140%;
    height: 100%;
    padding: 15px;
    font-size: 30px;
    background: transparent;
}
<style media="screen">
  .button{
    width: 100%;
    height: 100px;
	margin-top: 10px;
	border-collapse: collapse;
  }
  .left{
    float: left;
    display: block;
  }
  .right{
    float: right;
    display: block;
  }
.button ul a{
  padding: 20px;
  background: transparent;
  color: white;
}
