.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 105px; padding: 7px 0; text-align:center;    
    background:#880000; 
    background: -moz-linear-gradient(top, #c91d1d, #880000 5%, #660000 60%, #660000 95%, #460000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c91d1d), color-stop(0.05, #880000), color-stop(0.6, #660000), color-stop(0.95, #660000), to(#460000));
    background: -o-linear-gradient(top, rgb(201,29,29) 0%, rgb(136,0,0) 5%, rgb(102,0,0) 60%, rgb(102,0,0) 95%, rgb(70,0,0) 100%);    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#fff;
}
.qq-upload-button-hover 
{
    background:#cc0000;
    background: -moz-linear-gradient(top, #f83939, #cc0000 5%, #a80000 60%, #a80000 95%, #780000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f83939), color-stop(0.05, #cc0000), color-stop(0.6, #a80000), color-stop(0.95, #a80000), to(#780000));
    background: -o-linear-gradient(top, rgb(248,57,57) 0%, rgb(204,0,0) 5%, rgb(168,0,0) 60%, rgb(168,0,0) 95%, rgb(120,0,0) 100%);    
}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}