<div class="card card-style mb-0">
    <a href="#" class="footer-title pt-4">BARONANG</a>
    <p class="text-center font-12 mt-n1 mb-3 opacity-70">
        Put a little <span class="color-highlight">color</span> in  your life
    </p>
    <p class="boxed-text-l">
        Built to match the design trends and give your page the awesome facelift it deserves.
    </p>
    <div class="text-center mb-3">
        <a href="#" class="icon icon-xs rounded-sm shadow-l mr-1 bg-facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="icon icon-xs rounded-sm shadow-l mr-1 bg-twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="icon icon-xs rounded-sm shadow-l mr-1 bg-phone"><i class="fa fa-phone"></i></a>
        <a href="#" data-menu="menu-share" class="icon icon-xs rounded-sm mr-1 shadow-l bg-red2-dark"><i class="fa fa-share-alt"></i></a>
        <a href="#" class="back-to-top icon icon-xs rounded-sm shadow-l bg-highlight color-white"><i class="fa fa-arrow-up"></i></a>
    </div>
    <p class="footer-copyright pb-3 mb-1">Copyright &copy; <span id="copyright-year"><?php echo date("Y"); ?></span>. All Rights Reserved.</p>
</div>

<div class="footer-card card shape-rounded" data-card-height="230">
    <div class="card-overlay primary-color opacity-95"></div>
    <div class="card-bg preload-img" data-src="images/pictures/20s.jpg"></div>
</div>

<script type="text/javascript">
    //Activating the function to show the shape at the bottom
    $.card_extender();
</script>